.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #dce3e7;
}

.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-max-width:150px;
    -fx-tab-min-height:25px;
    -fx-tab-max-height:25px;
}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 11;
    -fx-background-color: #252c39;
    -fx-padding: 0 3 0 3;
    -fx-margin: 0 5 0 5;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

.tab:selected {
    -fx-background-color: #ef3326;
}

.tab-content-area {
    -fx-background-color: #FFFFFF;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

.borPane {
    -fx-padding: 10 13 0 13;
}

.hBox{
-fx-padding: 0 0 10 0;
}

.vbox {
    -fx-padding: 0 100 0 100;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-max-width: 400px;
}

.vboxIn {
    -fx-padding: 0 0 10 0;
}

.bordered-hbox {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-border-radius: 5;
}

.labeTop {
    -fx-text-fill: rgb(0,0,0,0.5);

 }